.form {
  @media (min-width: 768px) {
    padding: 55px 40px 42px;
  }

  @media (min-width: 1200px) {
    padding: 15px 100px 43px;
  }
}

.form__wrapper {
  @media (min-width: 768px) {
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }

  @media (min-width: 1200px) {
    gap: 60px;
  }

  &::before {
    @media (min-width: 768px) {
      content: "";
      position: absolute;
      top: 16px;
      bottom: 16px;
      left: 50%;

      width: 1px;

      background-color: #dbdbdb;
      transform: translateX(-50%);
    }
  }
}

.form__container {
  margin: 0;
  padding: 24px 20px 23px;

  border: none;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: 768px) {
    padding: 24px 20px 27px;

    border: none;
  }
}

.form__container--impression {
  @media (min-width: 768px) {
    padding-top: 35px;
    padding-bottom: 24px;
  }

  @media (min-width: 1200px) {
    padding-top: 44px;
    padding-bottom: 35px;
  }
}

.form__container--message {
  padding-bottom: 27px;

  border: none;

  @media (min-width: 768px) {
    padding-top: 14px;
    padding-bottom: 17px;
  }

  @media (min-width: 1200px) {
    padding-top: 27px;
    padding-bottom: 24px;
  }
}

.form__container--submit {
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;

  border: none;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: 1200px) {
    max-width: 810px;
    margin: 0 auto;
  }
}

.form__title {
  margin: 0 0 20px;

  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    margin-bottom: 28px;

    font-size: 21px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 26px;
  }
}

.form__contact-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @media (max-width: 767px) {
    margin-bottom: 16px;
  }
}

.form__contact-label {
  padding-left: 16px;

  text-transform: uppercase;

}

.form__contact-input {
  width: 100%;
  height: 58px;
  padding: 6px 12px 6px 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "Pt Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: 4px solid transparent;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);

    opacity: 1;
  }

  &--phone {
    padding-right: 60px;

    background-image: url("../img/svg/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center right -4px;
  }

  &--mail {
    padding-right: 60px;

    background-image: url("../img/svg/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center right -4px;
  }
}

.form__options {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.form__container--impression .form__options {
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0 36px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, auto);
    gap: 16px 62px;
    padding: 19px 54px 16px;
  }
}

.form__container--attractions .form__options {
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 30px;
    padding: 0 83px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, auto);
    gap: 16px 62px;
    padding: 32px 45px;
  }
}

.form__options-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
}

.form__options-input {
  position: relative;

  width: 46px;
  height: 46px;
  margin: 0;

  background-color: #f2f2f2;
  border-radius: 4px;

  appearance: none;
}

.form__options-input[type="radio"] {
  border-radius: 50%;

  &:checked:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 14px;

    width: 16px;
    height: 16px;

    background-color: #333333;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.form__options-input[type="checkbox"] {
  &:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 22px;
    height: 16px;

    background-image: url("../img/svg/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translate(-50%, -50%);
  }
}

.form__options-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  color: #000000;
}

.form__message {
  width: 100%;
  height: 150px;
  padding: 15px 12px 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "Pt Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: 4px solid transparent;

  resize: none;

  @media (min-width: 768px) {
    height: 160px;
    padding-top: 12px;
  }

  @media (min-width: 1200px) {
    display: block;
    max-width: 770px;
    margin: 0 auto;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.form__submit {
  width: 100%;
  padding: 19px 16px 13px;

  @media (min-width: 768px) {
    width: 324px;
    margin-left: 0;
  }

  @media (min-width: 1200px) {
    width: 384px;
  }
}

.form__note {
  display: block;
  order: 1;

  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  text-align: right;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 14px;
    color: #333333;
  }
}

.form__fieldset-title--lines {
  @media (min-width: 768px) {
    overflow: hidden;
  }
}

.form__fieldset-title--lines span {
  @media (min-width: 768px) {
    display: inline-block;
    max-width: 400px;
    padding: 0 60px;

    vertical-align: middle;
  }
}

.form__fieldset-title--lines::before,
.form__fieldset-title--lines::after {
  @media (min-width: 768px) {
    content: "";
    position: relative;

    display: inline-block;
    width: 100%;
    height: 1px;

    vertical-align: middle;

    background-color: #dbdbdb;
  }
}

.form__fieldset-title--lines::before {
  @media (min-width: 768px) {
    margin-left: -100%;
  }
}

.form__fieldset-title--lines::after {
  @media (min-width: 768px) {
    margin-right: -100%;
  }
}
