*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "Pt Sans", "Arial", sans-serif;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.main {
  flex-grow: 1;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Pt Sans";
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format(woff2), url("../fonts/ptsans.woff") format(woff);
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Pt Sans";
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format(woff2), url("../fonts/ptsansbold.woff") format(woff);
}
.button {
  display: block;
  width: 284px;
  margin: 0 auto;
  padding: 16px 18px 16px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "Pt Sans", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .button {
    width: 458px;
  }
}

.header {
  min-height: 56px;
}

.navigation {
  position: relative;
}

.navigation__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  display: block;
  width: 185px;
  height: 96px;
  transform: translateX(-50%);
}

.navigation__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 10;
  width: 23px;
  height: 22px;
  background-color: transparent;
  background-image: url("../img/svg/icon-menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .navigation__toggle {
    display: none;
  }
}

.navigation__list {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  display: none;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .navigation__list {
    position: static;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .navigation__list {
    display: flex;
    justify-content: space-between;
    width: 1070px;
    margin: 0 auto;
  }
}

.navigation__list::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 7px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
@media (min-width: 768px) {
  .navigation__list::after {
    display: none;
  }
}

.navigation__item {
  padding: 20px 17px 10px;
  text-align: center;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.navigation__item:first-child {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .navigation__item:first-child {
    box-shadow: none;
  }
}
@media (min-width: 768px) {
  .navigation__item {
    width: 153px;
    box-shadow: none;
  }
}
@media (min-width: 1200px) {
  .navigation__item {
    width: 239px;
  }
}
@media (min-width: 768px) {
  .navigation__item:nth-child(4n-2) {
    margin-right: 76px;
  }
}
@media (min-width: 1200px) {
  .navigation__item:nth-child(4n-2) {
    margin-right: 120px;
  }
}
@media (min-width: 768px) {
  .navigation__item:nth-child(4n-1) {
    margin-left: 76px;
  }
}
@media (min-width: 1200px) {
  .navigation__item:nth-child(4n-1) {
    margin-left: 120px;
  }
}

.navigation__link {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  vertical-align: baseline;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .navigation__link {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
}

.navigation__link--current {
  color: #766357;
}

@media (max-width: 767px) {
  .navigation--open .navigation__list {
    display: block;
  }
}

@media (max-width: 767px) {
  .navigation--open .navigation__toggle {
    background-image: url("../img/svg/icon-cross.svg");
  }
}

.no-js .navigation__toggle {
  display: none;
}

.no-js .navigation__list {
  position: relative;
  display: block;
}
@media (min-width: 768px) {
  .no-js .navigation__list {
    position: static;
  }
}

.intro__background {
  position: relative;
  padding: 90px 19px 85px;
  color: #ffffff;
  background-color: #94989b;
  background-image: url("../img/intro-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .intro__background {
    background-image: url("../img/intro-background-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .intro__background {
    padding-top: 76px;
    padding-bottom: 92px;
    background-image: url("../img/intro-background-tablet.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .intro__background {
    background-image: url("../img/intro-background-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .intro__background {
    background-image: url("../img/intro-background-desktop.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .intro__background {
    background-image: url("../img/intro-background-desktop@2x.jpg");
  }
}
.intro__background::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 57px;
  background-image: url("../img/svg/sedona-intro-decor.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 1200px) {
  .intro__background::after {
    bottom: -1px;
  }
}

.intro--page .intro__background {
  padding-top: 52px;
  padding-bottom: 67px;
  background-size: 282%;
}
@media (min-width: 768px) {
  .intro--page .intro__background {
    padding-top: 95px;
    padding-bottom: 117px;
    background-size: 156%;
  }
}
@media (min-width: 1200px) {
  .intro--page .intro__background {
    padding-top: 102px;
    padding-bottom: 121px;
    background-size: cover;
  }
}

.intro__description {
  padding: 34px 30px 16px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .intro__description {
    padding: 50px 80px 55px;
  }
}
@media (min-width: 1200px) {
  .intro__description {
    padding-top: 60px;
    padding-bottom: 45px;
  }
}

.intro--page .intro__description {
  padding: 39px 20px 36px;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .intro--page .intro__description {
    padding: 68px 60px 35px;
    border: none;
  }
}
@media (min-width: 1200px) {
  .intro--page .intro__description {
    padding: 98px 60px 43px;
  }
}

.intro--form .intro__description {
  padding-bottom: 28px;
}
@media (min-width: 768px) {
  .intro--form .intro__description {
    padding-top: 64px;
    padding-bottom: 28px;
  }
}
@media (min-width: 1200px) {
  .intro--form .intro__description {
    padding-top: 114px;
  }
}

.intro__background img {
  display: block;
  width: 282px;
  height: 214px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .intro__background img {
    width: 461px;
    height: 350px;
  }
}
@media (min-width: 1200px) {
  .intro__background img {
    width: 460px;
  }
}

.intro--page img {
  width: 229px;
  height: 39px;
}
@media (min-width: 768px) {
  .intro--page img {
    width: 460px;
    height: 78px;
  }
}

.intro__title {
  margin: 0 0 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .intro__title {
    margin-bottom: 28px;
    font-size: 21px;
    line-height: 26px;
  }
}

.intro--page .intro__title {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .intro--page .intro__title {
    margin-bottom: 30px;
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .intro--page .intro__title {
    margin-bottom: 32px;
  }
}

.intro--form .intro__title {
  margin-bottom: 21px;
}
@media (min-width: 1200px) {
  .intro--form .intro__title {
    margin-bottom: 34px;
  }
}

.intro__text {
  margin: 0;
}

.intro br {
  display: none;
}
@media (min-width: 768px) {
  .intro br {
    display: block;
  }
}

.advantages {
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  position: relative;
}

@media (min-width: 768px) {
  .advantages__item--full {
    grid-column: 1/-1;
  }
}

.advantages__item:not(.advantages__item--full)::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 1px;
  background-color: #d6d6d6;
}
@media (min-width: 768px) {
  .advantages__item:not(.advantages__item--full)::after {
    display: none;
  }
}

.advantages__item:last-child::after {
  display: none;
}

@media (min-width: 768px) {
  .advantages__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 768px) {
  .advantages__item--full + .advantages__item--full .advantages__container {
    grid-template-columns: 2fr 1fr;
  }
}

.advantages__content {
  padding: 26px 35px 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .advantages__content {
    min-height: 256px;
    padding: 42px 30px 22px;
  }
}
@media (min-width: 1200px) {
  .advantages__content {
    padding: 52px 40px 25px;
  }
}

.advantages__item--full:first-child .advantages__content {
  padding-top: 71px;
  padding-bottom: 38px;
}
@media (min-width: 768px) {
  .advantages__item--full:first-child .advantages__content {
    padding-top: 54px;
    padding-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--full:first-child .advantages__content {
    padding: 54px 56px 35px;
  }
}

.advantages__item--full:first-child .advantages__content::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 36px;
  background-image: url("../img/svg/advantages-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  .advantages__item--full:first-child .advantages__content::before {
    display: none;
  }
}

.advantages__container .advantages__content {
  padding: 39px 20px 35px;
  color: #ffffff;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .advantages__container .advantages__content {
    padding: 53px 30px 21px;
  }
}
@media (min-width: 1200px) {
  .advantages__container .advantages__content {
    padding: 53px 83px 35px;
  }
}

.advantages__title {
  margin: 0 0 11px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .advantages__title {
    padding: 0 20px;
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .advantages__title {
    max-width: 175px;
    margin: 0 auto 12px;
    padding: 0 10px;
  }
}

.advantages__container .advantages__title {
  color: #ffffff;
}

.advantages__item p {
  margin: 0;
}

.advantages__description br {
  display: none;
}
@media (min-width: 768px) {
  .advantages__description br {
    display: block;
  }
}

.advantages__container p + p {
  margin-top: 17px;
}
@media (min-width: 768px) {
  .advantages__container p + p {
    margin-top: 23px;
  }
}

.advantages__image {
  width: 100%;
  height: 260px;
}
@media (min-width: 768px) {
  .advantages__image {
    height: auto;
  }
}

.advantages__image img {
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .advantages__item--full + .advantages__item--full .advantages__image {
    order: -1;
  }
}

.advantages__services {
  padding-bottom: 44px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .advantages__services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 0;
  }
}

.advantages__services-item .advantages__title {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .advantages__services-item .advantages__title {
    margin-bottom: 22px;
  }
}

.advantages__services-item {
  padding: 33px 15px 0 65px;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: 18px 23px;
  background-size: 40px 40px;
}
@media (min-width: 768px) {
  .advantages__services-item {
    min-height: 331px;
    padding: 157px 33px 60px;
    text-align: center;
    background-position: center 61px;
  }
}
@media (min-width: 1200px) {
  .advantages__services-item {
    padding: 170px 55px 60px;
    background-position: center 70px;
  }
}

.advantages__services-item--accommodation {
  background-image: url("../img/svg/icon-house.svg");
}
@media (min-width: 768px) {
  .advantages__services-item--accommodation {
    background-size: 77px 72px;
  }
}
@media (min-width: 1200px) {
  .advantages__services-item--accommodation {
    background-size: 79px 72px;
  }
}

.advantages__services-item--food {
  background-image: url("../img/svg/icon-food.svg");
}
@media (min-width: 768px) {
  .advantages__services-item--food {
    background-size: 80px 68px;
  }
}
@media (min-width: 1200px) {
  .advantages__services-item--food {
    background-size: 73px 69px;
  }
}

.advantages__services-item--souvenirs {
  background-image: url("../img/svg/icon-gift.svg");
}
@media (min-width: 768px) {
  .advantages__services-item--souvenirs {
    background-size: 67px 75px;
  }
}
@media (min-width: 1200px) {
  .advantages__services-item--souvenirs {
    background-size: 77px 75px;
  }
}

.advantages__services-item--souvenirs br {
  display: none;
}
@media (min-width: 1200px) {
  .advantages__services-item--souvenirs br {
    display: block;
  }
}

.map {
  width: 100%;
  height: 350px;
}

.map iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.map__img {
  display: block;
  width: 100%;
  height: 350px;
}

.map__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.no-js iframe {
  display: none;
}

.search {
  padding: 42px 18px 48px;
  text-align: center;
  text-transform: uppercase;
}

.search__title {
  margin: 0 0 19px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.search__text {
  margin: 0 0 32px;
}

@media (min-width: 768px) {
  .gallery {
    padding: 46px 60px;
  }
}
@media (min-width: 1200px) {
  .gallery {
    padding: 46px 0;
  }
}

@media (min-width: 768px) {
  .gallery__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  padding: 24px 20px 10px;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .gallery__item {
    padding: 0;
    border: none;
  }
}
@media (min-width: 1200px) {
  .gallery__item {
    position: relative;
  }
}
@media (min-width: 768px) {
  .gallery__item:first-child {
    grid-column: 1/-1;
  }
}

.gallery__image {
  display: block;
  height: 280px;
}
@media (min-width: 768px) {
  .gallery__image {
    height: 267px;
  }
}

@media (min-width: 768px) {
  .gallery__item:first-child .gallery__image {
    height: 400px;
  }
}

.gallery__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery__container {
  padding: 15px 0;
}
@media (min-width: 768px) {
  .gallery__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 20px 17px 16px;
    background-color: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .gallery__container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px 20px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 768px) {
  .gallery__item:first-child .gallery__container {
    padding: 22px 20px 16px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .gallery__item:first-child .gallery__container {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 768px) {
  .gallery__item:nth-child(2n) .gallery__container {
    background-color: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .gallery__item:nth-child(2n) .gallery__container {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.gallery__description {
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .gallery__description {
    margin-bottom: 0;
    padding-left: 5px;
  }
}

@media (min-width: 768px) {
  .gallery__item:first-child .gallery__description {
    padding-left: 0;
  }
}

.gallery__title {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .gallery__title {
    margin: 0 0 5px;
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .gallery__item:first-child .gallery__title {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .gallery__photographer {
    color: #ffffff;
  }
}

.gallery__like {
  display: grid;
  grid-template-columns: auto auto;
  gap: 14px;
  align-items: baseline;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: "Pt Sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .gallery__like {
    gap: 9px;
  }
}
@media (min-width: 1200px) {
  .gallery__like {
    color: #ffffff;
  }
}

.gallery__like svg {
  fill: currentColor;
}

.gallery__like span {
  color: #000000;
}
@media (min-width: 768px) {
  .gallery__like span {
    padding-bottom: 7px;
  }
}
@media (min-width: 1200px) {
  .gallery__like span {
    color: inherit;
  }
}

.video {
  padding: 18px 20px 2px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .video {
    padding: 10px 60px 45px;
  }
}
@media (min-width: 1200px) {
  .video {
    padding-top: 14px;
    padding-bottom: 89px;
  }
}

.video__title {
  margin: 0 0 26px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .video__title {
    margin-bottom: 32px;
    font-size: 30px;
  }
}

.video__text {
  margin: 0 0 38px;
  padding: 0 10px;
}
@media (min-width: 768px) {
  .video__text {
    margin-bottom: 89px;
  }
}
@media (min-width: 1200px) {
  .video__text {
    margin-bottom: 87px;
  }
}

.video__text br {
  display: none;
}
@media (min-width: 768px) {
  .video__text br {
    display: block;
  }
}

.video__image {
  position: relative;
  height: 177px;
}
@media (min-width: 768px) {
  .video__image {
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .video__image {
    width: 800px;
    margin: 0 auto;
  }
}

.video__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 54px;
  color: #ffffff;
  background-color: transparent;
  background-image: url("../img/svg/icon-play.svg");
  background-repeat: no-repeat;
  border: none;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

@media (min-width: 768px) {
  .form {
    padding: 55px 40px 42px;
  }
}
@media (min-width: 1200px) {
  .form {
    padding: 15px 100px 43px;
  }
}

@media (min-width: 768px) {
  .form__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }
}
@media (min-width: 1200px) {
  .form__wrapper {
    gap: 60px;
  }
}
@media (min-width: 768px) {
  .form__wrapper::before {
    content: "";
    position: absolute;
    top: 16px;
    bottom: 16px;
    left: 50%;
    width: 1px;
    background-color: #dbdbdb;
    transform: translateX(-50%);
  }
}

.form__container {
  margin: 0;
  padding: 24px 20px 23px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .form__container {
    padding: 24px 20px 27px;
    border: none;
  }
}

@media (min-width: 768px) {
  .form__container--impression {
    padding-top: 35px;
    padding-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .form__container--impression {
    padding-top: 44px;
    padding-bottom: 35px;
  }
}

.form__container--message {
  padding-bottom: 27px;
  border: none;
}
@media (min-width: 768px) {
  .form__container--message {
    padding-top: 14px;
    padding-bottom: 17px;
  }
}
@media (min-width: 1200px) {
  .form__container--message {
    padding-top: 27px;
    padding-bottom: 24px;
  }
}

.form__container--submit {
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;
  border: none;
}
@media (min-width: 768px) {
  .form__container--submit {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media (min-width: 1200px) {
  .form__container--submit {
    max-width: 810px;
    margin: 0 auto;
  }
}

.form__title {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__title {
    margin-bottom: 28px;
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .form__title {
    margin-bottom: 26px;
  }
}

.form__contact-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
@media (max-width: 767px) {
  .form__contact-list {
    margin-bottom: 16px;
  }
}

.form__contact-label {
  padding-left: 16px;
  text-transform: uppercase;
}

.form__contact-input {
  width: 100%;
  height: 58px;
  padding: 6px 12px 6px 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "Pt Sans", "Arial", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  border: 4px solid transparent;
}
.form__contact-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.form__contact-input--phone {
  padding-right: 60px;
  background-image: url("../img/svg/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center right -4px;
}
.form__contact-input--mail {
  padding-right: 60px;
  background-image: url("../img/svg/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center right -4px;
}

.form__options {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media (min-width: 768px) {
  .form__container--impression .form__options {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0 36px;
  }
}
@media (min-width: 1200px) {
  .form__container--impression .form__options {
    grid-template-columns: repeat(3, auto);
    gap: 16px 62px;
    padding: 19px 54px 16px;
  }
}

@media (min-width: 768px) {
  .form__container--attractions .form__options {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 30px;
    padding: 0 83px;
  }
}
@media (min-width: 1200px) {
  .form__container--attractions .form__options {
    grid-template-columns: repeat(4, auto);
    gap: 16px 62px;
    padding: 32px 45px;
  }
}

.form__options-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
}

.form__options-input {
  position: relative;
  width: 46px;
  height: 46px;
  margin: 0;
  background-color: #f2f2f2;
  border-radius: 4px;
  -webkit-appearance: none;
          appearance: none;
}

.form__options-input[type=radio] {
  border-radius: 50%;
}
.form__options-input[type=radio]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 14px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  transform: translateY(-50%);
}

.form__options-input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 16px;
  background-image: url("../img/svg/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translate(-50%, -50%);
}

.form__options-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__message {
  width: 100%;
  height: 150px;
  padding: 15px 12px 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "Pt Sans", "Arial", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  border: 4px solid transparent;
  resize: none;
}
@media (min-width: 768px) {
  .form__message {
    height: 160px;
    padding-top: 12px;
  }
}
@media (min-width: 1200px) {
  .form__message {
    display: block;
    max-width: 770px;
    margin: 0 auto;
  }
}
.form__message::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form__submit {
  width: 100%;
  padding: 19px 16px 13px;
}
@media (min-width: 768px) {
  .form__submit {
    width: 324px;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .form__submit {
    width: 384px;
  }
}

.form__note {
  display: block;
  order: 1;
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  text-align: right;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__note {
    font-size: 14px;
    color: #333333;
  }
}

@media (min-width: 768px) {
  .form__fieldset-title--lines {
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .form__fieldset-title--lines span {
    display: inline-block;
    max-width: 400px;
    padding: 0 60px;
    vertical-align: middle;
  }
}

@media (min-width: 768px) {
  .form__fieldset-title--lines::before,
.form__fieldset-title--lines::after {
    content: "";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 1px;
    vertical-align: middle;
    background-color: #dbdbdb;
  }
}

@media (min-width: 768px) {
  .form__fieldset-title--lines::before {
    margin-left: -100%;
  }
}

@media (min-width: 768px) {
  .form__fieldset-title--lines::after {
    margin-right: -100%;
  }
}

.footer {
  padding: 42px 20px 32px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 60px 34px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 37px 120px 34px;
  }
}

.footer__hashtag {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__hashtag {
    margin-bottom: 0;
  }
}

.footer__list {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .footer__list {
    margin-bottom: 0;
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 6px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: #ffffff;
  background-color: #81b3d2;
}

.socials__link svg {
  fill: currentColor;
}

.developer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
}
.developer:hover, .developer:focus {
  color: #81b3d2;
  outline: none;
}
.developer:active {
  color: #b3b3b3;
}

.developer svg {
  fill: currentColor;
}

.developer__text {
  margin-right: 12px;
}
/*# sourceMappingURL=style.css.map */